---
import RootLayout from "../components/layouts/root-layout.astro";
import Divider from "../components/ui/divider.astro";
import { featuredExperience } from "../data/portfolio";
import { cn } from "../lib/utils";
---

<RootLayout>
	<main>
		<section class="px-4">
			<div class="container mx-auto">
				<Divider label="Featured" />
			</div>
		</section>
		<section class="p-4 sm:py-12">
			<ul class="container mx-auto grid gap-4 md:grid-cols-2">
				{
					featuredExperience.map((item, index) => (
						<li class="space-y-6 border-4 p-4 transition duration-300 ease-out bg-ink-900 hover:-translate-1 sm:p-6">
							<div
								class={cn(
									"h-2 w-16 bg-acid-300",
									index % 2 === 0 && "bg-safety-500",
								)}
							/>
							<article class="space-y-4">
								<h3 class="font-display uppercase leading-none tracking-wider text-3xl text-paper-50">
									{item.role}
								</h3>
								<p
									class={cn(
										"font-mono uppercase tracking-widest text-xs text-acid-300",
										index % 2 === 0 && "text-safety-500",
									)}
								>
									{item.company}
								</p>
								<ul
									class={cn(
										"space-y-2 pl-4 text-sm list-disc marker:text-acid-300",
										index % 2 === 0 &&
											"marker:text-safety-500",
									)}
								>
									{item.achievements.map((point) => (
										<li>{point}</li>
									))}
								</ul>
							</article>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</RootLayout>
