---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>SFX Develops</title>
        <meta name="description" content="SFX Develops" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>
